---
# main.scss
---
@import '../_sass/_typography.scss';
@import '../_sass/_colors.scss';
@import '../_sass/_mixins.scss';

body {
  margin: 0 auto;
  max-width: 160rem;
}

body * {
  box-sizing: border-box;
}

.header-container {
  border-bottom: 1px solid $bk;
}

.site-header {
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 1rem 0;

  h1 {
    margin: 0;
  }
}

.main-content {
  flex-grow: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1.2rem;
  ul {
    li {
      margin-right: 2rem;
    }
  }
}

nav, footer {
  ul {
    list-style: none;

    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      a {
        color: $bk;
        
        svg {
          vertical-align: middle;
          width: 2.5rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
  @include transition-in-out(200ms);

  a {
    @include transition-in-out(200ms);
    
    svg {
      @include transition-in-out(200ms);
    }
  }

  &:hover:not(.icon) {
    border-radius: 2px;
    background-color: $green-highlight;
    a {
      color: $wt;
    }
  }

  &:hover {
    a.disabled {
      pointer-events: none;
      cursor: pointer;
      background-color: gray;
    }

    svg {
      fill: $green-highlight;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  padding: 0 20px;
}

