---
# main.scss
---
@import '../_sass/_typography.scss';
@import '../_sass/_colors.scss';
@import '../_sass/_mixins.scss';
@import '../_sass/_media.scss';

body {
  margin: 0 auto;
  max-width: 160rem;
}

.header-container {
  border-bottom: 1px solid $bk;
}

.site-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  padding: 1rem 0;

  h1 {
    margin: 0;
  }

  .icons {
    padding-top: 4px;
    flex-grow: 1;
    
    a {
      margin-left: 1rem;
      text-decoration: none;
      svg {
        width: 2.5rem;
        @include transition-in-out(200ms);
        
        &:hover {
          fill: $green-highlight;
        }
      }
    }
  }
}

.site-header a { @include transition-in-out(200ms); }

.main-content {
  flex-grow: 1;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  // align-self: center;

  ul {
    li {
      margin-right: 2rem;
    }
  }

  a.hamburger {
    display: none;
  }
}

.nav-container, footer {
  ul {
    list-style: none;

    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      a {
        color: $bk;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-container {
  li {
    @include transition-in-out(200ms);
    
    &:hover {
      border-radius: 2px;
      background-color: $green-highlight;
      a:not(.disabled) {
        color: $wt;
      }
      a.disabled {
        pointer-events: none;
        cursor: pointer;
        background-color: gray;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  padding: 0 20px;
}

