---
# main.scss
---
@import '../_sass/_typography.scss';
@import '../_sass/_colors.scss';
@import '../_sass/_mixins.scss';
@import '../_sass/_media.scss';

body {
  margin: 0 auto;
  max-width: 160rem;
}

.header-container {
  border-bottom: 1px solid $bk;
}

.site-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1rem 0;

  h1 {
    margin: 0;
  }

  .icons {
    padding-top: 4px;
    flex-grow: 1;
    
    a {
      margin-left: 1rem;
      text-decoration: none;
      svg {
        width: 2.5rem;
        @include transition-in-out(200ms);
        
        &:hover {
          fill: $green-highlight;
        }
      }
    }
  }
}

.site-header a { @include transition-in-out(200ms); }

.main-content {
  flex-grow: 1;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    li {
      margin-right: 2rem;
      display: inline-block;
    }
  }
  nav a { padding: 0.3rem; }

  a.hamburger {
    display: none;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-container {
  li {
    @include transition-in-out(200ms);
    
    &:hover {
      a { border-radius: 2px; }
      a:not(.disabled) {
        background-color: $green-highlight;
        color: $wt;
      }
      a.disabled {
        pointer-events: none;
        cursor: pointer;
        background-color: gray;
      }
    }
  }
  .hamburger:hover {
    color: $green-highlight;
  }
}

.container {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  padding: 0 20px;
}

