html { font-size: 62.5%; }  /* =10px */
header h1   { font-size: 4.4rem; } /* =44px */
h1 { font-size: 2.4}
nav { font-size: 2rem; }
.main-content { font-size: 1.4rem; } /* =14px */
footer { font-size: 1.2rem }
html {
  font-family: 'Open Sans', sans-serif;
}
